/* ini css */

/* Judul kalkulator */
.main-title{
    text-align: center;
}

/* Dibagi 2 display */
main{
    display: flex;
    justify-content: space-around
}


.main-content{
    /* border: 1px solid; */
    flex: 1px;
    padding: 12px;
}

/* Subjudul */
.input-title{
    font-weight: bold;
}

/* Button submit dan reset */
.button{
    border: 1px solid;
    border-radius: 6px;
}
.submit{
    background: lightblue;
}

/* Textbox */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }

.bg-form{
    background-color: aliceblue;
    padding: 9px;
    border-radius: 9px;
}
.hasil-center{
    text-align: center;
}
